      <ion-view title="首页">
        <ion-content>
            <section class = "home-container margin-top">
                <!--<div class = "row header">-->
                    <!--<div class = "col text-center">-->
                        <!--[LOGO / HEADER]-->
                    <!--</div>-->
                <!--</div>-->
                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.demo"><img src="img/ionic.png"></a><br />Demo
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ><img src="img/ionic.png"></a><br />Plugins
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.custom"><img src="img/ionic.png"></a><br />Customize
                    </div>
                </div>
                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon"><img src="img/ionic.png"></a><br />Title
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon"><img src="img/ionic.png"></a><br />Title
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon"><img src="img/ionic.png"></a><br />Title
                    </div>
                </div>
            </section>
        </ion-content>
      </ion-view>