      <ion-view title="Loading">
        <ion-content>
            <section class = "home-container margin-top">
                <!--<div class = "row header">-->
                    <!--<div class = "col text-center">-->
                        <!--[LOGO / HEADER]-->
                    <!--</div>-->
                <!--</div>-->
                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="tabs.demoLoading"><img src="img/ionic.png"></a><br />Loading
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="tabs.demoCheckBox"><img src="img/ionic.png"></a><br />CheckBox
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="tabs.demoLoadingBar"><img src="img/ionic.png"></a><br />LoadingBar
                    </div>
                </div>
            </section>
        </ion-content>
      </ion-view>