      <ion-view title="Loading">
        <ion-content>
            <section class = "home-container margin-top">
                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.demoLoading"><img src="img/ionic.png"></a><br />Loading
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.demoCheckBox"><img src="img/ionic.png"></a><br />CheckBox
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.demoLoadingBar"><img src="img/ionic.png"></a><br />LoadingBar
                    </div>
                </div>

                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.animatedList"><img src="img/ionic.png"></a><br />AnimatedList
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.recorderList"><img src="img/ionic.png"></a><br />RecorderList
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.infiniteScroll"><img src="img/ionic.png"></a><br />InfiniteScroll
                    </div>
                </div>

                <div class = "row icon-row">
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.popover"><img src="img/ionic.png"></a><br />popover
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.popup"><img src="img/ionic.png"></a><br />popup
                    </div>
                    <div class = "col text-center">
                        <a class="home-icon" ui-sref="main.tabs.infiniteScroll"><img src="img/ionic.png"></a><br />InfiniteScroll
                    </div>
                </div>
            </section>
        </ion-content>
      </ion-view>